img {
    max-width: 70%;
    max-height: 30%;
      display: block;
  	margin-left: auto;
  	margin-right: auto;

}


.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: -50px;
  left: 35%;
  background-color: #FCEC52;
  color: #3B7080;
  padding-left: 20px;
  padding-right: 20px;
}